/*css template blade*/
a {
    text-decoration: none;
    list-style-type: none;
}

#baniere {
    background-color: black;
    height: 105px;
    margin-left: 0px;
    margin-right: 0px;
}

#ban {
    text-align: center;
    border-bottom: 1px solid #007002;
    color: yellow;
    margin-left: 40px;
    margin-right: -40px;
    font-size: 55px;
    font-family: "Comic Sans MS";
    text-shadow: 5px 2px 5px lightgreen;
}

#log1 {
    margin-left: -16px;

}

#log2 {
    margin-left: -24px;
}

#menu {
    background-color: black;
    color: white;
    height: 80px;
    padding-top: 2%;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 6%;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: yellow;
}

#menu li a:hover {
    text-decoration: none;
    color: white;
}



#corps {
    min-height: 500px;
    background-color: antiquewhite;
    border: double #007002 20px;
    padding: 2%;
    opacity: 1;
    position: relative;
    z-index: 1;

}

#pub {

    padding-top: 2%;
    background-color: black;
    color: white;
    min-height: 150px;
    font-size: 60px;
    text-align: center;
}

#footer {
    margin-top: -19px;
    background-color: #007002;
    color: black;
    min-height: 100px;
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
}

#footer li {
    list-style-type: none;
    text-align: left;
}

#footer li a {
    text-decoration: none;
    color: black;
}

hr {
    border: 1px solid black;
}

#information_img_1 {
    margin-left: -17px;
}

#connexion {
    width: 100%;
    text-align: center;
}



hr.titr{
    border-color: #007002;
    height: 30px;
    border-style: solid;
    border-width: 7px 0 0 0;
    border-radius: 20px;


}


hr.titr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 7px 0;
    border-radius: 20px;
}
/*css home page : */
#titre3Ho {
    text-align: center;
    font: italic bold 28px comic sans ms;
}


#titre4Ho {
    text-align: center;
    font: italic bold 20px comic sans ms;
}

#titre5Ho {
    text-align: center;
}

#mon_compte {
    margin-left: 10%;
    margin-right: 10%;
}

#methode {
    list-style-type: circle;
    font: italic bold 18px comic sans ms;
}

#infCourante {
    list-style-type: none;
    font: italic bold 18px comic sans ms;
}

#hCourant {
    list-style-type: none;
    text-justify: auto;
    font: italic bold 18px comic sans ms;

}

#presentation {
    text-align: justify;
    text-indent: 10px;
    font: italic bold 18px comic sans ms;
}

.jumbotron {
    background-color: lightyellow;

}

body {
    background: url("../img/header/fond.jpg") no-repeat fixed;
    background-size: cover;

}

#yout {
    text-align: center;
}


/*css sous-menu*/



#s_menu {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    background-color: #007002;
    height: 30px;
    border-top: 1px solid ;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    z-index: 2;
}

#s_menu li{
    width: 100%;
}

#s_menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

#s_menu li a:hover {
    text-decoration: none;
    color: yellow;
    display: block;
    position: relative;
    z-index: 5;

}

/*css adhesion*/

#adhesion{
    text-align: justify;
    text-indent: 10px;
    font: italic bold 18px comic sans ms;
}

.jumbotron1 {
    background-color: lightyellow;
text-align: center;
}

.adhesion{

    list-style-type: none;

}

 a:visited {
    color: #007002;
    background-color: transparent;
    text-decoration: none;
     text-align: center;
}

 a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
     text-align: center;
}
 #inscript{
     text-align: center;
     font: italic bold 18px comic sans ms;
 }

/*css club*/

#club{
    text-align: center;
    text-indent: 10px;
    font: italic bold 18px comic sans ms;

}

.club{
    list-style-type: none;

}


#burger{
    position: absolute;
    background-color: #333333;
    color: white;
    margin: 80px 0 0 0;
    z-index: 20;
    width: 97.5%;
    height: 500px;
    display: none;
}

#burger h2,h3{
    text-align: center;
}

#burger a{
    text-decoration: none;
    color: white;
}

#burger a:hover{
    color: #34B484;
}

#burger li{
    list-style: none;
    text-align: center;
    line-height: 2em;
}

#burger li h3 a{
    color: #34B484;
}

#burger li h3 a:hover{
    color: white;
}
#menu_burger{
    position: relative;
    z-index: 19;
}

#fade { /*--Masque opaque noir de fond--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 10;
}

#video_cours{
    text-align: center;
}

.cours{
    margin-bottom: 1%;
}

.carte_video{
    background-color: rgba(0,0,0,0.3);
    padding: 1% 1% 3% 1%;
    border-radius: 1%;
}

#view_titre_video{
    text-align: center;
}

#view_video{
    text-align: center;
    width: 560px;
    margin-left: 24%;
}

#pagination{
    text-align: center;
    width: 100%;
}











