

#baniere{
    background-color: black;
    height: 105px;
    margin-left: 0px;
    margin-right: 0px;
}

#ban{
    text-align: center;
    border-bottom: 1px solid white;
    color: yellow;
    margin-left: 40px;
    margin-right: -40px;
    font-size: 55px;
}

#log1{
    margin-left: -16px;
}

#log2{
    margin-left: -24px;
}

#menu{
    background-color: black;
    color: white;
    height: 80px;
    padding-top: 2%;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 6%;
    font-size: 20px;
}

#menu li a{
    text-decoration: none;
    color: yellow;
}

#menu li a:hover{
    text-decoration: none;
    color: white;
}

#menu li:first-child {
   float: left;
    margin-left: -30px;
}

#corps{
    min-height: 500px;
    background-color: darkseagreen;
}

#pub{
    margin-top: -20px;
    padding-top: 2%;
    background-color: black;
    color: white;
    min-height: 150px;
    font-size: 60px;
    text-align: center;
}

#footer{
    margin-top: -19px;
    background-color: #007002;
    color: black;
    min-height: 100px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1%;
    font-weight: bold;
}

#footer li {
    list-style-type: none;
    text-align: left;
}

#footer li a{
    text-decoration: none;
    color: black;
}

hr{
    border: 1px solid black;
}

#information_img_1{
    margin-left: -17px;
}

#connexion {
    width: 100%;
    text-align: center;}


#titre3Ho{
    text-align: center;
}

#titre4Ho{
    text-align: center;
}

#titre5Ho{
    text-align: center;
}

