#baniere {
  background-color: antiquewhite;
  height: 120px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#ban {
  /*text-align: center;*/
  border-bottom: 1px solid #007002;
  color: black;
  margin-left: 30px;
  margin-right: -30px;
  font-size: 65px;

  /*text-shadow: 8px 5px 8px/* #34B484/* #007002*/;
}

#log1 {
  margin-left: -16px;

}

#log2 {
  margin-left: -24px;
}