

#baniere {
  background:linear-gradient(#296540, #D6E5BA);
  height: 120px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;

}

#ban {
  text-align: center;
  margin-left: 30px;
  margin-right: -30px;
  font-size: 85px;

  /*text-shadow: 8px 5px 8px/* #34B484/* #007002*/;
}

.maj{
  color: #F9BF16;
}

#log1 {
  margin-left: -14px;
  z-index: 2;

}

#log2 {
  margin-left: -24px;
}