/*css club*/

#club {
  text-align: center;
  text-indent: 10px;
  font: italic bold 18px comic sans ms;

}

.club {
  list-style-type: none;

}

/*css adhesion*/

.adhesion {
  text-align: justify;
  text-indent: 10px;
  font: italic bold 18px comic sans ms;
}

.jumbotron1 {
  background-color: #F9BF16;
  text-align: center;
}

.jumbotron {
  background-color: #F9BF16;

}

.adhes {

  list-style-type: none;

}

a:visited {
  color: #007002;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  text-align: center;
}

#inscript {
  text-align: center;
  font: italic bold 18px comic sans ms;
}