hr{

  opacity: 1;
  border: 2px solid #F9BF16;
}

.second{
  opacity: 1;
  border: 2px solid #296540;
}


#pub {

  padding-top: 2%;
  background-color: black;
  color: white;
  min-height: 150px;
  font-size: 60px;
  text-align: center;
}

#footer {
  margin-top: -19px;
  background-color: #296540;
  color: black;
  min-height: 100px;
  text-align: center;
  padding-top: 1%;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 0px;
}

#footer li {
  list-style-type: none;
  text-align: left;
}

#footer li a {
  text-decoration: none;
  color: black;
}

#information_img_1 {
  margin-left: -17px;
}

