/*css licence*/

.licence{
  text-align: justify;
  text-indent: 10px;
  font: italic bold 18px comic sans ms;
}
#licence{
  text-align: center;
  text-decoration: underline;
  color: darkred;
}

.vide{
  border: none;
  background-color: transparent;
}